[environment]
environment = {{ app.env}} 

[prefs] 
    color = {{ fav.color }} 
    fruit = {{ fav.fruit }} 
    car = {{ fav.car }} 
    laptop = {{ fav.laptop }} 

[database]
host = {{ dbconn.host }}
user = {{ dbconn.user }}
pass = {{ dbconn.pass }}
db = {{ dbconn.db }}